#wrapper{
  width: 100%;
  margin: 0 auto;
}
.clear{
  clear: both;
}

h1{
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin-top:50px;
  margin-bottom:30px;
}

.title{
  border-style: solid;
  border-top-width:1px;
  border-bottom-width:1px;
  border-color: #000000;
  padding: 5px;
}

.name a{
text-decoration: none;
  }

#book_mark{
  float: left;
  position: relative;
  left: 5%;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 80px;
  margin-top: 20px;
}
#buy_history{
  float: left;
  float: left;
  position: relative;
  left: 5%;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.cart{
float: left;
font-size: 14px;
font-weight: 400;
background: #e7ecf0;
color: #3F3D3D;
border: solid 1px;
border-color: #e7ecf0;
margin-right: 2px;
border-radius: 7px;
}
.cart:hover{
  background: #fff;
   color: #333;
   border: solid 1px #333;
  transition: all 0.5s;
}
.cart:active {
  background: #c00;
  color: #fff;
}
.buttonDE{
  font-size: 14px;
  font-weight: 400;
  background: #e7ecf0;
  color: #3F3D3D;
  border: solid 1px;
  border-color: #e7ecf0;
  margin-right: 2px;
  border-radius: 7px;
}
.buttonDE:hover {
  background: #fff;
   color: #333;
   border: solid 1px #333;
  transition: all 0.5s;
 }
.buttonDE:active {
  background: #c00; color: #fff;
}
