#wrapper{
  width: 100%;
  margin: 0 auto;
}

.clear{
  clear: both;
}
.category{
  height: 100px;
  background-color: #e7ecf0;
  float: right;
  position: relative;
  width: 770px;
}
nav.category ul{
  position: absolute;
  top: 39px;
  left: 35px;
}
nav.category li{
  float: left;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
nav.category ul li a{
  color: #3F3D3D;
}

.jender{
  float: left;
  position: absolute;
  top: 130px;
  left: 57px;
  font-size: 45px;
}
.jender_search a{
font-size: 20px;
color:#999DB4;
text-decoration: none;
}
.jender_search a:hover{
  text-decoration: underline;
}


#item_result{
  margin-top: 200px;
  margin-left: 60px;
}

#searchMethod{
  position: relative;
  left: 50px;
  top: 20px;
  color: #ffffff;
  float: left;
  margin-top: 15px;
}

.item{
  float: left;
  overflow: hidden;
  margin-left:25px;
  margin-right:25px;
  margin-bottom: 10px;
}
.name a{
  color: #000000;
  text-decoration: none;
  }
.name a:hover{
  text-decoration: underline;
}

.img a :hover{
opacity:0.5;
}
