.clear{
  clear: both;
}

body{
  font-family: 'Roboto Mono';
}

header{
  background-color: #a9becf;
  height: 150px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0px;
}

.logo{
  position: relative;
  top: 10px;
  left: 20px;
  font-weight: 100;
  font-size: 20px;
  color: #ffffff;
  border-top-style: solid;
  border-left-style: solid;
  border-width: 1px;
  padding: 5px;
  width: 74px;
 }

#item_result{
  margin-top: 200px;
  margin-left: 60px;
}

#searchMethod{
  position: relative;
  left: 50px;
  top: 20px;
  color: #ffffff;
  float: left;
  margin-top: 15px;
}

.category{
  float: right;
  position: relative;
  top: 22%;
  right: 22%;
}

.category li {
  float: left;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  width: 88px;
}

.item{
  float: left;
  overflow: hidden;
  margin-left:25px;
  margin-right:25px;
  margin-bottom: 10px;
}
