@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0 auto;
	}

body{
	width:100%;
}

#wrapper{
	width:100%;
}
.clear{
	clear:both;
	}
ul{
	font-family: 'Quicksand', sans-serif;
	font-weight:400;
}
li{
	list-style-type:none;
}

h3{
	font-family: 'Quicksand', sans-serif;
	font-weight:700;
	margin-bottom:25px;
}
/*----------------------

header

-------------------------*/
h1{
	float:left;
}
header nav{
	float:right;
	margin-top:25px;
	margin-right:50px;
	}
h1 nav{
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;
}
ul#menu li{
	float:left;
	margin-left:50px;
	}
.mainimage{
	clear:both;
	position:absolute;
	margin-top:85px;
}

ul.image_area{
position:relative;
}
ul.image_area li{
position:absolute;
top:0;
left:0px;
}
ul.image_area li.active{
z-index:10;
}
ul.image_area li.next{
z-index:11;
}


/*----------------------

contents

-------------------------*/

.flowers{
	width:150px;
	text-align:center;
	margin:0 auto;
	font-family: 'Quicksand', sans-serif;
	font-weight:700;
	font-size:30px;
	margin-left:550px;
	margin-bottom:20px;
	border-right-style:solid;
	border-left-style:solid;
	border-width:1px;
	padding-right:-50px;
	padding-left:5px;
}
.pick{
	width:150px;
	text-align:center;
	margin:0 auto;
	font-family: 'Quicksand', sans-serif;
	font-weight:700;
	font-size:30px;
	margin-left:550px;
	margin-bottom:20px;
	border-right-style:solid;
	border-left-style:solid;
	border-width:1px;
	padding-left:5px;
	padding-right:5px;
}
.infomation{
	width:200px;
	text-align:center;
	margin:0 auto;
	margin-bottom:20px;
	font-family: 'Quicksand', sans-serif;
	font-weight:700;
	font-size:30px;
	border-right-style:solid;
	border-left-style:solid;
	border-width:1px;
	padding-left:5px;
	padding-right:5px;
	}
.contents{
	position: relative;
	margin-top:620px;
}
.contents li{
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:70px;
	margin-right:20px;
}
.contents li a:hover{
	opacity:0.5;
	}
.contents1{
	position:relative;
	margin-top:20px;
	}

.contents1 li{
	float:left;
	margin-top:20px;
	margin-left:70px;
	margin-right:27px;
	margin-bottom:50px;
	}
.contents1 li a:hover{
	opacity:0.5;
	}

.contents2{
	float:left;
	margin-left:120px;
	}
.campaign{
	width:200px;
	text-align:center;
	margin:0 auto;
	margin-bottom:20px;
	font-family: 'Quicksand', sans-serif;
	font-weight:700;
	font-size:30px;
	border-right-style:solid;
	border-left-style:solid;
	border-width:1px;
	padding-left:5px;
	padding-right:5px;
	}
.christmas a:hover{
	opacity:0.5;
}

.contents3{
	float:right;
	margin-right:120px;
	}
.contents3 ul{
	border-style:solid;
	border-width:1px;
	padding-right:15px;
	padding-left:15px;
	}
.contents3 li{
	margin-top:20px;
	margin-bottom:20px;
}
.contents3 li a{
	text-decoration:none;
	color:#000000;
	}
.contents3 li a:hover{
	color:#8a8a8a;
	border-bottom:solid;
	border-color:8a8a8a;
	border-width:1px;
	}
.day{
	font-family: 'Quicksand', sans-serif;
	font-weight:400;
	margin-right:20px;
	background:#eeeeee;
	}
.genericon-next{
	margin-top:4px;
}
/*----------------------

footer

-------------------------*/

footer{
	background-color:#EEEEEE;
	margin-top:50px;
	}

/*--------------------
	company
--------------------*/
.company{
	   float:left;
	   margin-top:30px;
	   margin-right:70px;
	   margin-left:170px;
	   margin-bottom:30px;
	}
.company li{
	margin-bottom:10px;
}
.company a{
	text-decoration:none;
	color:#000000;
	}
.company a:hover{
	color:#8A8A8A;
	 border-bottom:solid;
	 border-color:#8a8a8a;
	 border-width:1px;
	}
/*--------------------
	contact
--------------------*/
.contact{
	   float:left;
	   margin-top:30px;
	   margin-right:70px;
	   margin-left:70px;
	   margin-bottom:30px;
	}
.contact li{
	margin-bottom:10px;
	}
.contact a{
	text-decoration:none;
	color:#000000;
	}
 .contact a:hover{
	 color:#8A8A8A;
	 border-bottom:solid;
	 border-color:#8a8a8a;
	 border-width:1px;
 }
/*--------------------
	connect
--------------------*/
.connect{
	   float:left;
	   margin-top:30px;
	   margin-right:70px;
	   margin-left:70px;
	   margin-bottom:30px;
	}
.connect li{
	margin-bottom:10px;
	}
.connect ul a{
	color:#000000;
	text-decoration:none;
}
.genericon-facebook:hover{
	color:#909090;
}
.genericon-twitter:hover{
	color:#909090;
}
.genericon-instagram:hover{
	color:#909090;
}

/*--------------------
     other
---------------------*/
.other{
	float:left;
	   margin-top:30px;
	   margin-right:50px;
	   margin-left:70px;
	   margin-bottom:30px;
}
.other li{
	margin-bottom:10px;
}
.other a{
	text-decoration:none;
	color:#000000;
}
.other a:hover{
	 color:#8A8A8A;
	 border-bottom:solid;
	 border-color:#8a8a8a;
	 border-width:1px;
	}
